.form {
   display: flex; 
   justify-content: center;
   margin: 40px 35px 25px;
}

.form-input{
    width:80%;
    max-width: 900px;
    height: 30px;
    border: #191e38 3px solid;
    margin-right: 30px;
    font-size:1.8rem;
    font-weight: 700;
    padding-left: 10px;
   
}:focus{
    border-color: #d6f813;
}:hover{
    border-color: #d6f813;
}

.form-button{
    width: 15%;
    height:30px;
    max-width: 130px;
    min-width: 70px;
    background-color: #d6f813;
    color: #191e38;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size:1.6rem;
    cursor: pointer;
}