.serie{
    display:flex;
    justify-content:center;
    height: 7vh;
    background-color: #191e3813;
    margin: 0 45px; 
    align-items: center;
}

h3{
    padding: 0 20px;
    font-size: 1.2rem;
    color: #191e38;
}

