.Cards-section{
    display: flex;
    justify-content: center;
}

.Cards-and-details{
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
   margin: 30px 0 30px 45px; 
   
}

@media (max-width: 500px){
    .Cards-section{
        
        flex-direction: column-reverse;
        align-items: center;

    }

    .Details{
        margin:30px auto ;
    }
    .Cards-and-details{
        margin:auto;
    }

    .content{
        margin:0 0 0 10px;
    }

}
@media (min-width: 1280px) {
    .Cards-and-details{
        width: 55%;
    }

}


@media (min-width: 1500px) {
    .Cards-and-details{
        width: 40%;
    }

}